:root {
    --white: #FFFFFF;
    --light-light-gray: #E9F1F2;
    --light-gray: #D0D8DA;
    --gray: #93999A;
    --dark-gray: #656B76;
    --hardly-black: #323232;
    --light-yellow: #FFEA00;
    --yellow: #FFD000;
    --light-orange: #FCBC04;
    --orange: #FFA200;
    --light-light-blue:  #5FCFFF;
    --light-blue: #6DCEF5;
    --not-light-blue: #2490D8;
    --blue: #46B5E5;
    --dark-blue: #1A2B4C;
    --bright-blue: #2000E6;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    font-family: Arial, sans-serif;
}

/* Стилизация логотипа */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    /* flex-wrap: wrap; */
}

.logo img {
    height: 48px;
}

.logo h1 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: default;
    white-space: normal;
}

/* Стилизация навигационной панели */

.nav-bar {
    position: relative;
    height: 100%;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-items {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}

.nav-bar-items li {
    display: flex;
    align-items: center;
}

.nav-bar li a {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--white);
    text-align: center;
    padding: 0 1rem;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    transition: background-color 0.3s;
}

.nav-bar li a:hover {
    background-color: var(--light-light-blue);
}

.nav-bar li a.active {  
    background-color: var(--not-light-blue);  
}  


.menu-icon {
    display: none;
}

main {
    margin-top: 70px;
}

.about ul {

}

/* Стили таблицы */

caption {
    font-size: 1.3em;
    font-weight: bold;
}

.not-curr-month {
    color: var(--dark-gray);
}

/* Стили расписания */

.schedule {

}

.next-month {
}

@media(max-width: 600px) {
  .menu-icon {
    display: block;
  }
  .nav-bar-items {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    left: auto;
    width: auto;
    min-width: 200px;
    height: auto;
    max-height: calc(100vh - 70px);
    overflow-y:auto;
    flex-direction: column;
    background-color: var(--blue);
    align-items: center;
    z-index: 999;
  }

  .nav-bar-items.show {
    display: flex;
  }

  .nav-bar-items li {
    width: 100%;
    text-align: center;
  }

  .nav-bar-items li a {
    font-size: 1.2rem;
    display: block;
    padding: 1rem;
    height: auto;
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
  }
}

