:root {
    --white: #FFFFFF;
    --light-light-gray: #E9F1F2;
    --light-gray: #D0D8DA;
    --gray: #93999A;
    --dark-gray: #656B76;
    --hardly-black: #323232;
    --light-yellow: #FFEA00;
    --yellow: #FFD000;
}

.fvfvfv {
    color: #6DCEF5;
    color: #C1E3FE;
    color: #46B5E5;
    color: #1E5EF2;
    color: #0038FF;
    color: #2490D8;
    color: #1A2B4C;
    color: #3A49E0;
    color: #2000E6;
    color: #FCBC04;
    color: #FFA200;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #46B5E5;
    color: var(--white);
    font-family: Arial, sans-serif;
}

/* Стилизация логотипа */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    /* flex-wrap: wrap; */
}

.logo img {
    height: 48px;
}

.logo h1 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: default;
    white-space: normal;
}

/* Стилизация навигационной панели */

.nav-bar {
    position: relative;
    height: 100%;
    background-color: #46B5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-items {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}

.nav-bar-items li {
    display: flex;
    align-items: center;
}

.nav-bar li a {
    display: flex;
    align-items: center;
    height: 100%;
    color: #FFFFFF;
    text-align: center;
    padding: 0 1rem;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    transition: background-color 0.3s;
}

.nav-bar li a:hover {
    background-color: #5fcfff;
}

.nav-bar li a.active {  
    background-color: #2490D8;  
}  


.menu-icon {
    display: none;
}

main {
    margin-top: 70px;
}

@media(max-width: 600px) {

  body {
      background-color: red;
  }  
  .menu-icon {
    display: block;
  }
  .nav-bar-items {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    left: auto;
    width: auto;
    min-width: 200px;
    height: auto;
    max-height: calc(100vh - 70px);
    overflow-y:auto;
    flex-direction: column;
    background-color: #46B5E5;
    align-items: center;
    z-index: 999;
  }
  .nav-bar-items li {
    width: 100%;
    text-align: center;
  }

  .nav-bar-items li a {
    font-size: 1.2rem;
    display: block;
    padding: 1rem;
    height: auto;
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
  }

  .nav-bar:hover .nav-bar-items {
    display: flex;
  }
}

